/Manifest.toml
src/Package_testing.jl
src/Playground/Gtesting.jl
src/Playground/Package_testing.jl
src/Playground/Package_testing2.jl
src/Playground/pcktst.jl
src/Playground/Workflows.jl
src/270723_demos.jl
src/Playground/01-improved_performance.jl
src/Playground/Archive/01a-ThermoSys.jl
src/Playground/Archive/05-networks.jl
src/Playground/Archive/plot_runme.jl
src/Playground/Archive/runme.jl
src/Playground/DeadTime/00-backup_code.jl
src/Playground/DeadTime/01-fluid_data.jl
src/Playground/DeadTime/02-nodes.jl
src/Playground/DeadTime/03-utilities.jl
src/Playground/DeadTime/04-components.jl
src/Playground/DeadTime/04-tree.jl
src/Playground/DeadTime/05-networks.jl
src/Playground/DeadTime/05-Steam.jl
src/Playground/DeadTime/06-cases.jl
src/Playground/DeadTime/DeadTime.jl
src/Playground/Images/FeedwaterRankine.pdf
src/Playground/Images/FW Ranking.pdf
src/Playground/Images/pin_animation.mp4
src/Playground/Images/RegenBrayton.pdf
src/Playground/Images/sfdp_animation.mp4
src/Playground/Images/stress_anim.mp4
src/Playground/Images/stress_animation.mp4
src/Playground/Reference/asdf.pdf
src/Playground/Reference/ControlVolumeDiagram.bmp
src/Playground/Reference/CV_DIAGRAM.jpg
src/Playground/Reference/equations_used.aux
src/Playground/Reference/equations_used.fdb_latexmk
src/Playground/Reference/equations_used.fls
src/Playground/Reference/equations_used.log
src/Playground/Reference/equations_used.pdf
src/Playground/Reference/equations_used.synctex.gz
src/Playground/Reference/equations_used.tex
src/Playground/Reference/Graph_1.pdf
src/Playground/Reference/Graph_1.png
src/Playground/Reference/notes.txt
src/Playground/Reference/oldbopplot.txt
src/Playground/Reference/sfdp_animation.mp4
src/Playground/Reference/stres_animation.mp4
src/Playground/Reference/stress_animation.mp4
src/Playground/in_progress/01-BetterCode.jl
src/Playground/in_progress/01-FoundationBlocks.jl
src/Playground/in_progress/CoolPRopPlotStuff.ipynb
src/Playground/in_progress/Examples.ipynb
src/Playground/in_progress/fluid_properties_mod.jl
src/Playground/in_progress/mdk_hel.jl
src/Playground/in_progress/mdk_steam.jl
src/Playground/in_progress/Ranksom
src/Playground/in_progress/ReynoldsTrans.ipynb
src/Playground/in_progress/testing_coolprop.jl
src/ODE_Systems/Notebooks/FInal_ihts_eval.ipynb
src/ODE_Systems/Notebooks/HeluimCirculatorPower.ipynb
src/ODE_Systems/Notebooks/Last_chance_change.ipynb
src/ODE_Systems/Notebooks/mdk_test2.ipynb
src/ODE_Systems/Notebooks/mdk_test3.ipynb
src/ODE_Systems/Notebooks/mdk_test4.ipynb
src/ODE_Systems/Notebooks/mdk_test5.ipynb
src/ODE_Systems/Notebooks/mdk_test6.ipynb
src/ODE_Systems/Notebooks/mdk_testing.ipynb
src/ODE_Systems/Notebooks/Package_Testing.ipynb
src/ODE_Systems/Notebooks/playground.ipynb
src/ODE_Systems/Notebooks/rankine_live.ipynb
src/ODE_Systems/Notebooks/SourceCode.jl
src/ODE_Systems/Notebooks/testing.ipynb
src/ODE_Systems/Notebooks/validating_rankine.ipynb
src/Archive/01a-ThermoSys.jl
src/Archive/05-networks.jl
src/Archive/plot_runme.jl
src/Archive/runme.jl
src/ODE_Systems/02-SystemModels.jl
